

.example-card {
  max-width: 400px;
  display: inline-block;
  margin: 2% 2%;
}

.example-header-image {
  background-image: url('https://i.pinimg.com/originals/af/ea/6e/afea6e8fbd39333adba5db568db7a823.jpg');
  background-size: cover;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(158, 32, 32); 
  border: none;
  border-radius: 14px;
  box-shadow: 0 5px rgb(0, 0, 0);
}

.button:hover {background-color: rgb(0, 0, 0)}

.button:active {
  background-color: rgb(158, 32, 32);
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}