.imagen{
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  border-left: 9px black solid;
}

.i1{
  border-left: 0px;
}

.fondo{

  height: 100vh;
  width: 100%;
}


