<div class="fondo">
  <div class="imagen i1" 
       style="background-image:linear-gradient(to top, rgb(90, 9, 9, 0.4) 0%, rgb(0, 0, 0, 0.4) 100%), 
       url(../../../assets/img/nuevo.jpg);">
  </div>
</div>
