.cuerpo{
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  border-left: 9px black solid;
  /* background-size: cover; */
  background-repeat: no-repeat;
  font-family:'Montserrat', sans-serif ;
  background-image:linear-gradient(to top, rgba(90, 9, 9, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), 
                   url(..//..//..//../assets/img/iniciar.jpg);
}

.fondo{

  height: 100vh;
  width: 100%;
}

.descripcion{
  resize: none;
}

.form-contenido{
  background: rgba(0, 0, 0, 0.8);
  color:  white;
  width: 100%;
  margin: 4% auto;
  padding: 1em;
  border-radius: 10px;
text-align: center;
font-family:'Montserrat', sans-serif ;
}
.cajas-dia{
  width: 100% ;
  margin: 1% 2%;
  font-family:inherit ;
  color: white;
}
.cajas{
  width: 100%;
  margin: 1% auto;
  font-family:inherit ;
  color: white;
}
.cajas mat-label{
  color: rgb(255, 255, 255);
}
.btn{
  padding: 100%;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}
.is-invalid{
  border: 1px solid #ff0000a6;
}


.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255); 
  border: none;
  border-radius: 14px;
  box-shadow: 0 5px rgb(0, 0, 0);
}

.button:hover {background-color: rgb(139, 139, 139)}

.button:active {
  color: white;
  background-color: rgb(78, 78, 78);
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}


.advertencia{

font-weight: 600;
  color: #ff0000a6;
}
@media (max-width:768px) {
  .form-contenido {

    width: 100%;
    margin: 4% auto;
    padding: 1em;
    border-radius: 10px;
    text-align: center;

  }
}

@media (max-width:320px) {
  .form-contenido{

    width: 100%;
    margin: 4% auto;
    padding: 1em;
    border-radius: 10px;
  text-align: center;

  }
}