<div class="cuerpo">
  <div class="imagen i1" style="background-image:linear-gradient(to top, rgb(90, 9, 9, 0.4) 0%, rgb(0, 0, 0, 0.4) 100%), url(..//..//..//../assets/img/iniciar.jpg);"></div>
  <form (submit)="addPost(titulo,descripcion)">
    <div class="form-contenido">
      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput autocomplete="off" 
        type="text"
        #titulo
        />
      </mat-form-field>


      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput 
        placeholder="mensaje" 
        type="text"
        #descripcion></textarea>
      </mat-form-field>

      <button class="button "
              routerLink="/home/publicaciones" 
              type="submit">Publicar
      </button>
    </div>
  </form>
</div>



